{% load static %}
<header>
    <div class="img_logo">
        <img class="mylogo" src="{% static 'image/LOGOS1.png' %}"> 
    </div>
    <div class="navbar">
    
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'reservation_list' %}">Reservation</a>
        {% if super_user %}
        <a href="{% url 'court_list' %}">Court Create</a> 
        {% endif %}
        <a href="{% url 'feedback_list' %}">Feedback</a> 
        <a href="{% url 'bookingHistory_list' %}">BookingHistory</a> 
        {% if super_user %}
        <a href="{% url 'payment_list' %}">Payment</a> 
        {% endif %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    </div>
</header>



